/**
 * README: En este fichero se definen todos los estilos los cuales queramos
 * que todas las páginas web tengan.
 * */

body {
    background-color: rgb(216, 216, 216);
    color: rgb(0, 0, 0);
}

section {
    margin-bottom: 5rem;
}

.grid {
    margin-bottom: 2rem;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto;

    .row {
        display: grid;
        grid-template-columns: 25% auto;
        gap: 1rem;
    }
}